aliyun-python-sdk-core
aliyun-python-sdk-ecs
aliyun-python-sdk-ram
boto3
google-api-core<3
google-api-python-client<3
google-auth
google-cloud-storage<3
google-crc32c>1.1.4
kubernetes>=26.0.0
msal<2
openstacksdk
oss2