aliyun-python-sdk-core<3
aliyun-python-sdk-ecs<5
azure-identity~=1.6.0
azure-mgmt-compute~=22.1.0
azure-mgmt-storage~=18.0.0
azure-storage-blob<13
boto3
google-api-python-client<3
google-auth<3
google-cloud-storage<2
msal<2
msrestazure~=0.6.4
oss2<3
openstacksdk<1
