# Install with: pip(3) install -r requirements.txt --upgrade
GitPython
cachecontrol<1
cachetools
cryptography
dacite
deepmerge
deprecated
dockerfile-parse>=1.2
ensure
flake8
gardener-oci
github3.py<5.0.0
html2text
jq
jsonpath-ng
jsonschema
odg-client
pycryptodome
pyjwt
pylama
pylint
pytest
python-dateutil
python-magic
pytimeparse
pyyaml
requests
ruamel.yaml==0.17.21
semver
slack-sdk
tabulate
termcolor
urllib3
yamllint
