github3.py==1.3.0
kubernetes
# XXX transitive dependencies for github3.py
jwcrypto
uritemplate
python-dateutil
# XXX transitive dependencies for kubernetes
six
setuptools
websocket-client
requests-oauthlib
certifi
google-auth
python-dateutil
