# Install with: pip(3) install -r requirements.txt --upgrade
GitPython
Mako<2.0.0
Sphinx
awesomeversion
cachecontrol<1
cachetools
cryptography
dacite
deepmerge
deprecated
dockerfile-parse>=1.2
docutils
ensure
flake8
gardener-oci
github3.py<5.0.0
html2text
jq
jsonpath-ng
jsonschema
pycryptodome
pyjwt
pylama
pylint
pytest
python-dateutil
python-gitlab
python-magic
pytimeparse
pyyaml
requests
semver
slack-sdk
sphinx_rtd_theme
sseclient-py
tabulate
termcolor
urllib3
yamllint
