# Install with: pip(3) install -r requirements.txt
Flask
Flask-RESTful
GitPython
Mako==1.0.7
Sphinx
bcrypt
containerregistry-ccwienk==0.2.1
deepdiff==3.3.0
deepmerge==0.0.4
deprecated
elasticsearch
ensure
gevent
github3.py==1.3.0
html2text
jira
kubernetes
pycodestyle
pydash
pyflakes
pytest
pyyaml
requests
semver
slackclient
sphinx_rtd_theme
sseclient-py
tabulate
termcolor
toposort
urllib3
