/* main content pane */
.wy-nav-content {
  max-width: 80%;
}

.wy-table-responsive {
  white-space: unset !important;
}
.td {
  white-space: unset !important;
}
.table {
  white-space: unset !important;
}
