GitPython
PyYaml
cachecontrol<1
cachetools
cryptography
dacite
deepmerge
deprecated
ensure
flake8
github3.py<5.0.0
html2text
jq
jsonpath-ng
jsonschema
odg-client>=0.4.0
pycryptodome
pyjwt
pytest
python-dateutil
python-magic
pyyaml
requests
ruamel.yaml==0.17.21
semver
tabulate
termcolor
www-authenticate
yamllint
