name: Build Alpine-SAP-Image
run-name: Building Alpine-SAP-Image
on:
  schedule:
    - cron: "0 0 * * *" # daily
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: build
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Setup Docker-Buildx
        uses: docker/setup-buildx-action@v3
      - name: Setup QEMU
        id: qemu
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64,linux/arm64
      - name: docker-auth
        id: docker-auth
        uses: docker/login-action@v3
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: ghcr.io

      - name: Build and Publish Alpine-SAP-Image
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: ${{ steps.qemu.outputs.platforms }}
          tags: ghcr.io/${{ github.repository_owner }}/cc-utils/alpine:3
          file: Dockerfile.alpine-sap

      - uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          package: cc-utils/alpine
          older-than: "30 days"
