name: Build OCM (Image w/ CLI)
on:
  push:
  workflow_call:
    inputs:
      mode:
        required: true
        type: string
        default: snapshot
        description: |
          the "mode" to use. passed to `prepare` (currently for selecting  target-registries)

jobs:
  prepare:
    uses: ./.github/workflows/prepare.yaml
    with:
      mode: ${{ inputs.mode || 'snapshot' }}
      versionfile: ocm/image-version
      version-prerelease: ${{ (inputs.mode == 'snapshot' || inputs.mode == '') && 'dev0' || '' }}
      base-component-file: .ocm/ocm-component.yaml

  build-ocm-oci-image:
    name: Build OCM-OCI-Image
    needs:
      - prepare
    secrets: inherit
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: ./.github/workflows/oci-ocm.yaml
    with:
      name: ocm-image
      dockerfile: Dockerfile.ocm
      oci-registry: ${{ needs.prepare.outputs.oci-registry }}
      oci-repository: cicd/ocm
      oci-platforms: 'linux/amd64,linux/arm64'
      version: ${{ needs.prepare.outputs.version }}
      ocm-labels: |
        - name: gardener.cloud/cve-categorisation
          value:
            authentication_enforced: false
            availability_requirement: low
            confidentiality_requirement: high
            integrity_requirement: high
            network_exposure: protected
            user_interaction: gardener-operator
