name: Job-Image-Base Dockerfile Version Bump
run-name: Update Job-Image-Base Dockerfile with latest Docker and Buildx versions

on:
  schedule:
    - cron: '0 0 * * *' # daily
  workflow_dispatch:

jobs:
  repo-metadata:
    runs-on: ubuntu-latest
    outputs:
      fork: ${{ steps.repo-metadata.outputs.fork}}
    steps:
      - uses: actions/checkout@v6
      - name: Retrieve repository metadata
        id: repo-metadata
        uses: ./.github/actions/repo-metadata
        with:
          gh-token: ${{ secrets.GITHUB_TOKEN }}

  update-dockerfile:
    needs: repo-metadata
    if: needs.repo-metadata.outputs.fork == 'false'
    runs-on: ubuntu-latest
    env:
      BRANCH: update-dockerfile
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Git Identity
        uses: ./.github/actions/setup-git-identity

      - name: Determine greatest docker and buildx versions and patch dockerfile
        id: versions
        shell: bash
        run: |
          set -euo pipefail
          docker_version=$(curl -sL https://download.docker.com/linux/static/stable/x86_64/ \
            | cut -d\" -f2 \
            | grep "docker-[[:digit:]]" \
            | cut -d- -f2 \
            | cut -d. -f1,2,3 \
            | sort -Vr \
            | head -1)
          buildx_version=$(curl -sL https://api.github.com/repos/docker/buildx/releases \
            -H 'Accept: application/json' \
            | jq -r '.[] | select(.draft == false and .prerelease == false) | .tag_name' \
            | sort -Vr \
            | head -1)

          if [ -z "${docker_version:-}" ]; then
            echo "Warning: failed to determine docker-version (ignoring)"
            exit 0
          fi
          if [ -z "${buildx_version:-}" ]; then
            echo "Warning: failed to determine buildx-version (ignoring)"
            exit 0
          fi

          sed -i "s/DOCKER_VERSION=.*/DOCKER_VERSION=\
          ${docker_version}/" Dockerfile.job-image-base
          sed -i "s/DOCKER_BUILDX_VERSION=.*/DOCKER_BUILDX_VERSION=\
          ${buildx_version}/" \
          Dockerfile.job-image-base

          if git diff --quiet Dockerfile.job-image-base; then
            echo "No changes detected. Exiting workflow."
            echo "changes_detected=false" >> $GITHUB_OUTPUT
          else
            echo "Changes detected, proceeding with commit."
            echo "changes_detected=true" >> $GITHUB_OUTPUT
            echo "docker_version=${docker_version}" >> $GITHUB_OUTPUT
            echo "buildx_version=${buildx_version}" >> $GITHUB_OUTPUT
          fi

      - uses: gardener/cc-utils/.github/actions/github-auth@master
        if: ${{ steps.versions.outputs.changes_detected == 'true' && vars.FEDERATED_GITHUB_ACCESS_TOKEN_SERVER != '' }}
        id: fed-token
        with:
          token-server: ${{ vars.FEDERATED_GITHUB_ACCESS_TOKEN_SERVER }}
          repositories: |
            ${{ github.event.repository.name }}
          permissions: |
            pull-requests: write

      - uses: actions/create-github-app-token@v2
        if: ${{ steps.versions.outputs.changes_detected == 'true' && vars.FEDERATED_GITHUB_ACCESS_TOKEN_SERVER == '' }}
        id: app-token
        with:
          app-id: ${{ vars.GARDENER_GITHUB_ACTIONS_APP_ID }}
          private-key: ${{ secrets.GARDENER_GITHUB_ACTIONS_PRIVATE_KEY }}

      - name: Commit and Push Changes
        if: ${{ steps.versions.outputs.changes_detected == 'true' }}
        run: |
          git add Dockerfile.job-image-base
          git commit -m "Update Dockerfile to use Docker \
          ${{ steps.versions.outputs.docker_version }} and Buildx \
          ${{ steps.versions.outputs.buildx_version }}"
          git checkout -B $BRANCH
          git push origin $BRANCH --force

      - name: Create or Update Pull Request
        if: ${{ steps.versions.outputs.changes_detected == 'true' }}
        run: |
          # Check if a pull request for the branch already exists
          pr_number=$(gh pr list --head $BRANCH --state open --json number --jq '.[].number')
          if [ -n "$pr_number" ]; then
            echo "Pull Request #$pr_number already exists, updating title and description..."
            gh pr edit "$pr_number" \
              --title "Update Dockerfile with latest Docker and Buildx versions" \
              --body "Updates the Dockerfile to use the latest versions:
                - Docker: ${{ steps.versions.outputs.docker_version }}
                - Buildx: ${{ steps.versions.outputs.buildx_version }}"
          else
            echo "No existing Pull Request found, creating a new one..."
            gh pr create \
              -B master \
              -H $BRANCH \
              --title "Update Dockerfile with latest Docker and Buildx versions" \
              --body "Updates the Dockerfile to use the latest versions:
                - Docker: ${{ steps.versions.outputs.docker_version }}
                - Buildx: ${{ steps.versions.outputs.buildx_version }}"
          fi
        env:
          GITHUB_TOKEN: ${{ steps.fed-token.outputs.token || steps.app-token.outputs.token }}
